name: MLflow Training Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  training:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3


    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow pandas scikit-learn

# 4. Jalankan MLflow Project
    - name: Run Model Training
      env:
        MLFLOW_TRACKING_URI: file:./mlruns
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name Churn_Prediction_Local
